---
# `data_directory` in postgresql.conf set to `postgresql_data_dir` variable
# Can be overridden in next task if `data_directory` parameter is also set
# via `postgresql_global_config_options` var
- name: Configure data dir in postgresql.conf.
    lineinfile:
    dest: "{{ postgresql_config_path }}/postgresql.conf"
    regexp: "^#?\\s*data_directory\\s*=.+$"
    line: "data_directory = '{{ postgresql_data_dir }}'"
    mode: 0644
  notify: restart postgresql

- name: Configure global settings (postgresql.conf).
  lineinfile:
    dest: "{{ postgresql_config_path }}/postgresql.conf"
    regexp: "^#?\\s*{{ item.option }}\\s*=.+$"
    line: "{{ item.option }} = '{{ item.value }}'"
    state: "{{ item.state | default('present') }}"
    mode: 0644
  with_items: "{{ postgresql_global_config_options }}"
  notify: restart postgresql

- name: Configure host based authentication (if entries are configured).
  template:
    src: "pg_hba.conf.j2"
    dest: "{{ postgresql_config_path }}/pg_hba.conf"
    owner: "{{ postgresql_user }}"
    group: "{{ postgresql_group }}"
    mode: 0600
  notify: restart postgresql
  when: postgresql_hba_entries | length > 0

- name: Ensure PostgreSQL unix socket dirs exist.
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ postgresql_user }}"
    group: "{{ postgresql_group }}"
    mode: "{{ postgresql_unix_socket_directories_mode }}"
  with_items: "{{ postgresql_unix_socket_directories }}"
