---
- name: Ensure PostgreSQL Python libraries are installed.
  apt:
    name: "{{ postgresql_python_library }}"
    state: present

- name: Ensure PostgreSQL packages are installed.
  apt:
    name: "{{ postgresql_packages }}"
    state: present
  register: package_installed

- name: Ensure all configured locales are present.
  locale_gen: "name={{ item }} state=present"
  with_items: "{{ postgresql_locales }}"
  register: locale_gen_result

- name: Ensure PostgreSQL is not running.
  service:
    name: postgresql
    state: stopped

- name: Ensure main cluster is not present (main is removed when PostgreSQL is just installed).
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ postgresql_data_dir }}/main"
    - "{{ postgresql_config_path }}/main"
  when:
    - postgresql_cluster_name != 'main'
    - package_installed.changed

# - name: Force-restart PostgreSQL after new locales are generated.
#   service:
#     name: "{{ postgresql_daemon }}"
#     state: restarted
#   when: locale_gen_result.changed
